


/* element.style {
  opacity: 1;
  transform: translate(0px, 0px);
}

.reveal {
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  box-sizing: border-box;
  transition: all 1.25s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(-30px);
}
#background1{
  position: relative;
  transform: translate(0px,0px);
} */