@font-face {
    font-family: 'NanumAInMamSonGeurSsi';
    src: url(../webfont/clova/NanumAInMamSonGeurSsi.eot);
    src: url(../webfont/clova/NanumAInMamSonGeurSsi.eot?#iefix) format("embedded-opentype"), url(../webfont/clova/NanumAInMamSonGeurSsi.woff) format("woff"), url(../webfont/clova/NanumAInMamSonGeurSsi.ttf) format("truetype");
}